* {
  padding: 0px;
  margin: 0px;
  border: border-box;
}

body {
  width: 90%;
  height: 100vh;
  background-color: #fbfcf8;
  font-size: 1.5em;
  color: #808080;
  font-family: "Noto Sans Georgian", sans-serif;
  text-align: justify;
  margin: 0 auto;
}

/* header nav {
    background-color: #808080;
} */

header nav {
  padding-top: 30px;
  padding-bottom: 10px;
}
#profile {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-top: 50px;
}

#username {
  font-size: 2em;
  font-family: "Libre Baskerville", serif;
  text-transform: uppercase;
  letter-spacing: 0.5cm;
}

a {
  text-decoration: none;
  color: #808080;
}

a:hover {
  background-color: #808080;
  color: #000000;
  border-radius: 5px;
}

nav a {
  text-decoration: none;
  color: #808080;
  max-width: fit-content;
  min-height: fit-content;
  padding: 5px;
  margin: 15px 10px;
  border-radius: 10px;
}
nav a:hover {
  background-color: #808080;
  color: #000000;
}

.full-sep {
  max-width: 100%;
  height: 10px;
  border: 2px solid #808080;
  background-color: #808080;
  /* border-radius: 5px; */
}

.sec-sep {
  width: 25%;
  height: 5px;
  border: 2px solid #808080;
  background-color: #808080;
  border-radius: 5px;
}

#about h3 {
  font-size: 1em;
  font-family: "Libre Baskerville", serif;
  letter-spacing: 0.5cm;
  margin-top: 20px;
}

#goal h3 {
    margin-top: 15px;
}

form {
    width: 50%;
    margin: 0 auto;
}

form input {
    display: block;
    width: 100%;
    height: 30px;
    text-align: center; 
}

form label {
    text-align: justify;
}
